@{
    ViewBag.Title = "Cadastro Centro Gasto";
}
<div class="text-center">
    <form name="CadastroTipoItem" method="post" action="/CentroGasto/Cadastro">
       
        <div class="form-check">
            <br />
            <label style="color:white"> Nome do Centro de gasto: </label>
            <br />
            <input  class="form-check-input" type="text" name="nomeCentroGasto"/>

        </div>
        <br />
        <button type="submit" class="btn btn-success"> Cadastrar </button>

    </form>
</div>
