@Model ProjetoBudget.Models.Orcamento
@{
    ViewBag.Title = "Listagem de itens";
}
<br />
<h2 class="titulo_orc1"> Orçamentos vinculados a este centro de gasto: </h2>
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col" style="color:white;"> Nome Orcamento </th>
            <th scope="col" style="color:white;"> Valor Aplicado  </th>
            <th scope="col" style="color:white;"> Situação  </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td style="color:white;">@item.nomeOrcamento</td>
                <td style="color:white;">@item.valorAplicado</td>
                @if (item.situacao == "A")
                {
                    <td style="color:white;"> Aprovado </td>
                }
                else if (item.situacao == "AP")
                {
                    <td style="color:white;"> Aprovado Parcialmente </td>
                }
                else if (item.situacao == "R")
                {
                    <td style="color:white;"> Reprovado </td>
                }
                else if (item.situacao == "PD")
                {
                    <td style="color:white;"> Pendente </td>
                }
                else
                {
                    <td style="color:white;"> Sem status no momento.... </td>
                }
            </tr>
         }
        </tbody>
</table>

<br />
<a href="/CentroGasto/ListaItens" role="button" class="btn btn-primary"> Voltar </a>

