body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: steelblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*CSS das Views de ItemOrcamentario: */
.titulo_cad {
    color: #D2D4D8;
    font-size:18px;
}
.form-check-input {
    background-color: #363838;
    color:white;
    padding-left:20px;
    margin:5px;
}
.tipo_gasto {
    background-color: #363838;
    color:white;
    font-size:14px;
    padding-left:86px;
    text-align:center;
    margin:5px;
}
.categ_item {
    background-color: #363838;
    color:white;
    font-size:14px;
    padding-left:162px;
    margin:5px;
}
.tituloPcad {
    color: #D2D4D6;
    font-size:44px;
}
.tablecad {
    color:white;

}
/*CSS das views de OrcaItem: */
.titulo_item {
    color:#D2D4D8;
    font-size: 18px;
    margin:5px;
}
.itens_orc {
    background-color: #363838;
    color: white;
    font-size: 14px;
    padding-left: 162px;
    margin: 5px;
}
/*CSS das Views de Orcamento*/
.titulo_orc {
    color: #D2D4D8;
    font-size: 18px;
    margin: 5px;
}
.input_setor {
    background-color: #363838;
    color: white;
    font-size: 14px;
    padding-left: 168px;
    margin: 5px
}
.titulo_orc1 {
    color: #D2D4D6;
    font-size: 44px;
}
.list {
    background-color: #D2D4D6;
    font-size:18px;
}
.Bem_vindo {
    color:white;
    font-size:30px;
}
.nav-link active {
    color:white;
}
.nav-link {
    color:white;
}
.titulo_alter {
    color:white;
    font-size:20px;
}
.input_alter {
   
    display:block;
}
.form-check-input {
    resize:none;
}


