@{
    ViewBag.Title = "Cadastri Tipo Item";
}
<div class="text-center">
    <form name="CadastroTipoItem" method="post" action="/TipoItem/Cadastro">
       
        <div class="form-check">
            <br />
            <label style="color:white; font-size:18px;"> Nome do Tipo de Item: </label>
            <br />
            <input  class="form-check-input" type="text" name="nomeTipoItem"/>

        </div>
        <br />
        <button type="submit" class="btn btn-success"> Salvar </button>

    </form>
</div>
