@Model ProjetoBudget.Models.itensOrcamentarios
@{
    ViewBag.Title = "Listagem de itens";
}
<br />
<h2 class="titulo_orc1"> Listagem: itens do orçamento </h2>
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col"> Nome Tipo de Item: </th>
            <th scope="col">  </th>
            <th scope="col">  </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nomeTipoItem</td>
                <td> <a href="/TipoItem/Editar?idTPI=@item.idTipoItem" role="button" class="btn btn-primary"> Editar </a></td>
                <td> <a href="/TipoItem/Excluir?idTPI=@item.idTipoItem" class="btn btn-danger"> Excluir </a></td>
            </tr>
         }
        </tbody>
</table>

<br />
<a href="/itemOrcamentario/ListaItens?orcI=@Model.OrcaItem" role="button" class="btn btn-primary"> Lista Itens </a>

