@Model ProjetoBudget.Models.CentroGasto

@{
    ViewBag.Title = "Orçamento";
}
<br />
<div class="text-center">
    <h1 class="titulo_orc1">Orçamento</h1>

<br />
<hr />

<form name="CadastroOrcamento" method="post" action="/Orcamento/cadastro">
    <div class="form-group">
        <label for="exampleInputEmail1" class="titulo_orc"> Nome Orçamento </label>
        <br />
        <input type="text" name="nomeOrcamento" class="form-check-input" id="exampleCheck1" />
    </div>

    <div class="form-group" name="idCentroGasto">
        <label for="exampleInputEmail1" class="titulo_orc"> Setor: </label>
        <br />
        <select name="idCentroGasto" class="input_setor">
            <option> </option>
            @foreach (var item in Model)
            {
                <option value="@item.idCentroGasto">
                    @item.nomeCentroGasto
                </option>
            }
        </select>
        <br />
    </div>
    <hr />
    <div name="">
        <label class="titulo_orc"> Valor de alocação </label>
        <br />
        <input type="text" name="valorAlocacao" class="form-check-input" id="exampleCheck1" /><br />

        <br />
        <label class="titulo_orc"> Data inicio: </label>
        <br />
        <input type="date" name="dataInicio" class="form-check-input" id="exampleCheck1" />
        <br />
        <label class="titulo_orc"> Data fim: </label>
        <br />
        <input type="date" name="dataFim" class="form-check-input" id="exampleCheck1" />
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary"> Registrar </button>
    <a href="/Home/TelaGS" role="button" class="btn btn-primary"> Voltar</a>
</form>
</div>