@Model ProjetoBudget.Models.CentroGasto

@{
    ViewBag.Title = "Orçamento";
}

<form name="CadastroOrcamento" method="post" action="/Orcamento/cadastro">
    <div class="form-group">
        <label for="exampleInputEmail1"> Nome Orçamento </label>
        <input type="text" name="nomeOrcamento" class="form-check-input" id="exampleCheck1" />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1"> Setor: </label>
        <select name="setor">
            @foreach(var item in Model)
            {
                <option value="@item.idCentroGasto">
                    @item.nomeCentroGasto
                </option>
            }

        </select>
    </div>
    <hr />
    <div>
        <label> Valor de alocação </label>
        <input type="text" name="valorAplicado" class="form-check-input" id="exampleCheck1" /><br />

        <br />
        <label> Data inicio: </label>
        <input type="date" name="dataInicio" class="form-check-input" id="exampleCheck1" />

        <label> Data fim: </label>
        <input type="date" name="dataFim" class="form-check-input" id="exampleCheck1" />
    </div>

    <button type="submit" class="btn btn-primary"> Registrar </button>
</form>