@Model ProjetoBudget.Models.Orcamento
@{
    ViewBag.Title = "Listagem Orcamentos";
}

<br />
<h2 class="titulo_orc1"> Listagem Orçamentos </h2>
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col"> Nome orçamento</th>
            <th scope="col"> Valor Aplicado  </th>
            <th scope="col"> Data de inicio </th>
            <th scope="col"> Data de fim </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                <th scope="row">@item.nomeOrcamento</th>
                <td>@item.valorAplicado</td>
                <td>@item.dataInicio</td>
                <td>@item.dataFim</td>
                <td>
                    <a href="/Area/areaEditar?id=@Model.idArea" role="button" class="btn btn-primary">Editar</a>
                    <a href="/Area/areaExcluir" role="button" class="btn btn-danger">Excluir</a>
                </td>
            }

            </tr>
    </tbody>
</table>
<br />
<a href="/Area/areaIndex" role="button" class="btn btn-primary">Voltar</a>
