@Model ProjetoBudget.Models.Orcamento
@{
    ViewBag.Title = "Listagem Orcamentos";
}

<br />
<h2 class="titulo_orc1"> Listagem de Orçamentos: </h2>
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col"> Nome orçamento</th>
            <th scope="col"> Valor Aplicado  </th>
            <th scope="col"> Data de inicio </th>
            <th scope="col"> Data de fim </th>
            <th scope="col"> Aprovação </th>
            <th scope="col">  </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
                if (item.situacao == null)
                {
                    <th scope="row">@item.nomeOrcamento</th>
                    <td>@item.valorAplicado</td>
                    <td>@item.dataInicio</td>
                    <td>@item.dataFim</td>
                    <td>
                        <div>
                            <a href="/orcamento/aprovado?id=@item.idOrcamento" class="btn btn-success"> Aprovado </a>
                            <br /><a href="" class="btn btn-warning"> Aprovado Parcialmente </a>
                            <br /><a href="" class="btn btn-danger"> Reprovado </a>
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="/Orcamento/acessar?id=@item.idOrcamento" role="button" class="btn btn-primary">Acessar</a>
                        <a href="" role="button" class="btn btn-danger">Excluir</a>
                    </td>

                }
             }

        </tr>
    </tbody>
</table>
<br />
<a href="" role="button" class="btn btn-primary"> Voltar</a>