@Model ProjetoBudget.Models.Orcamento
@{
    ViewBag.Title = "Listagem Orcamentos";
}
<div class="text-center">
<br />
<h2 class="titulo_orc1"> Listagem de Orçamentos: </h2>
</div>
<hr />
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col" style="color:white;"> Nome orçamento</th>
            <th scope="col" style="color:white;"> Valor Aplicado  </th>
            <th scope="col" style="color:white;"> Data de inicio </th>
            <th scope="col" style="color:white;"> Data de fim </th>
            <th scope="col" style="color:white;"> Aprovação </th>
            <th scope="col" style="color:white;">  </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @if (item.situacao == null || item.situacao == "PD")
                {
                    <th scope="row" style="color:white;">@item.nomeOrcamento</th>

                    <td style="color:white;">@item.valorAplicado</td>

                    <td style="color:white;">@item.dataInicio</td>

                    <td style="color:white;">@item.dataFim</td>
                    <td>
                        <div>
                            <br />
                            <a href="/orcamento/aprovado?id=@item.idOrcamento" class="btn btn-success"> Aprovado </a>
                            <br />
                            <br /><a href="/orcamento/AprovaParcial?id=@item.idOrcamento" class="btn btn-warning"> Aprovado Parcialmente </a>
                            <br />
                            <br /><a href="/orcamento/reprova?id=@item.idOrcamento" class="btn btn-danger"> Reprovado </a>
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="/Orcamento/acessar?id=@item.idOrcamento" role="button" class="btn btn-primary">Acessar</a>
                        <a href="" role="button" class="btn btn-danger">Excluir</a>
                    </td>

                }


            </tr>
        }
        </tbody>
</table>
<br />
<a href="/Orcamento/Cadastro" role="button" class="btn btn-primary"> Cadastrar </a>
<a href="/Home/TelaGF" role="button" class="btn btn-primary"> Voltar</a>