@Model ProjetoBudget.Models.Orcamento

@{
    ViewBag.Title = "Tela de reprovação";
}
<br />
<div class="text-center">
    <br />
    <h1 class="titulo_orc1" style="color:white"> Reprovação do Orçamento: @Model.nomeOrcamento </h1>
    <br />
    <hr />
<br />
<form name="CadastroOrcamento" method="post" action="/Orcamento/Reprova?idOrcamento=@Model.idOrcamento">
    <div class="form-group">
        <label for="exampleInputEmail1" class="titulo_orc" style="font-size:25px;color:white;"> Motivo da reprovação: </label>
        <br />
        <br />
        <textarea name="observacao" style="width: 1000px; height: 250px; resize: none; background-color: #363838;color:white;">  </textarea>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-danger"> Reprovar </button>
</form>
</div>