@{
    ViewBag.Title = "TelaLogin";
}
<div class="text-center">


<h2 class="titulo_orc1">Login</h2>

<br />

<div class="form-group">
    <label for="exampleInputEmail1" class="titulo_orc"> Matricula </label>
    <br />
    <input type="text" name="nomeOrcamento" class="form-check-input" id="exampleCheck1" />
</div>
<br />
<div class="form-group">
    <label for="exampleInputEmail1" class="titulo_orc"> Senha </label>
    <br />
    <input type="text" name="nomeOrcamento" class="form-check-input" id="exampleCheck1" />
</div>
<button type="submit" id="button" class="btn btn-primary"> Acessar </button>
</div>
<br />
<br />
<br />
