@{
    ViewBag.Title = "TelaLogin";
}
<form name="LoginForm" action="/Login/Login" method="post" >
    <div class="text-center">
        
        <hr />
        <br />
        <h2 class="titulo_orc1" style="text-decoration:underline;">Login</h2>
        <br />
        
        
        
        <br />

        <div class="form-group">
            <label for="exampleInputEmail1" class="titulo_orc" > Matricula: </label>
            <br />
            <input type="text" name="matricula" class="form-check-input" id="exampleCheck1" placeholder="Ex:1245" />
        </div>

        <br />

        <div class="form-group">
            <label for="exampleInputEmail1" class="titulo_orc" > Senha: </label>
            <br />
            <input type="password" name="senha" class="form-check-input" id="exampleCheck1" placeholder="*******" />
        </div>
        <br />
        <button type="submit" id="button" class="btn  btn-ligth"> Acessar </button>
    </div>
    <br />
    <br />
    
</form>
