@{
    ViewBag.Title = "TelaLogin";
}
<form name="LoginForm" action="/Login/Login" method="post" >
    <div class="text-center">
        <br />
        <h2 class="titulo_orc1">Login</h2>
        <br />
        <hr />
        
        <br />
        <br />

        <div class="form-group">
            <label for="exampleInputEmail1" class="titulo_orc" style="color:white;"> Matricula: </label>
            <br />
            <input type="text" name="matricula" class="form-check-input" id="exampleCheck1" placeholder="Ex:1245" />
        </div>

        <br />

        <div class="form-group">
            <label for="exampleInputEmail1" class="titulo_orc" style="color:white"> Senha: </label>
            <br />
            <input type="password" name="senha" class="form-check-input" id="exampleCheck1" placeholder="*******" />
        </div>
        <br />
        <button type="submit" id="button" class="btn  btn-primary"> Acessar </button>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</form>
