@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="Bem_vindo">Seja bem-vindo(a) ao Sistema de Gerenciador de Orçamentos!</h1>
    <div class="text-center">
    <h3 class="Bem_vindo">Deseja ir para Cadastro?</h3>
    <br />
    <a href="#" role="button" class="btn btn-block" >Ir para Cadastro</a>
    </div>
</div>