@Model ProjetoBudget.Models.Funcionario
@{
    ViewBag.Title = "Gerente Setor";
}

<div class="text-justify">
    <h2>Olá @Model.nomeFuncionario</h2>
</div>
<br />
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Despesas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Exemplo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Exemplo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Exemplo</a>
    </li>
</ul>
<br />
<br />
<br />
<button type="button" class="btn btn-light">Verificar</button>
