@Model ProjetoBudget.Models.OrcaItem
@{
    ViewBag.Title = "Alterar Prioridade";
}
<div class="text-center">
    <form name="AlterPrioridade" method="post" action="/OrcaItem/alterPrioridade?idItemOrc=@Model.idItemorcamentario">
        <br />
        <br />
        <hr />
        <br />
        <label class="titulo_alter">Selecione a Prioridade do item: @Model.itensOrcamentarios.descricaoItem </label>
        <br />
        <br />
        <div class="form-check">
            <input class="form-check-input" type="radio" name="prioridade" id="flexRadioDefault1" value="A" onclick="alterarVisibilidade('divObs','Alta')"> Alta 
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="prioridade" id="flexRadioDefault2" value="M" onclick="alterarVisibilidade('divObs','Média')"> Média 
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="prioridade" id="flexRadioDefault2" value="B" onclick="alterarVisibilidade('divObs','Baixa')"> Baixa
        </div>
        <br />
        <div class="form-check" id="divObs" style="display:none">
            <br />
            <label style="color:white"> Observação: </label>
            <br />
            <textarea class="form-check-input" type="text" name="observacao" id="flexRadioDefault2" maxlength="1000" > </textarea>

        </div>
        <br />
        <hr />
        @if (Model.itensOrcamentarios.tipoGasto == "C" || Model.itensOrcamentarios.tipoGasto == "D")
         {
            <label style="color:white;font-size:19px">Valor aplicado ao @Model.itensOrcamentarios.descricaoItem: </label>
            
            <input type="text" class="input_alter" name="total" value="" placeholder="Ex: R$1.500" />
         }
        <br />
        <br />
        <button type="submit" class="btn btn-success"> Salvar </button>
        <br />
        <br />
    </form>
</div>
@section Scripts{
    <script>
        function alterarVisibilidade(id, campoClick) {
            var display = document.getElementById(id).style.display;
            if (campoClick == "Alta") {
                document.getElementById(id).style.display = 'block';
            } else if (campoClick == "media") {
                document.getElementById(id).style.display = 'none';
            } else { document.getElementById(id).style.display = 'none'; }
        }
    </script>
}