@Model ProjetoBudget.Models.itemOrcamentario

@{
    ViewBag.Title = "Elencar itens";
}
<div class="text-center">
<form name="CadastroOrcamento" method="post" action="/Orcamento/cadastro">
    <div class="form-group">
        <br />
        <label for="exampleInputEmail1" class="titulo_item"> Item: </label>
        <br />
        <select name="itens" class="itens_orc">
            @foreach(var item in Model)
            {
                <option value="@item.idItemOrcamentario">
                    @item.descricaoItem
                </option>
            }
        </select>

    </div>

    <div>
        <label class="titulo_item"> Valor alocado: </label>
        <br />
        <input type="text" name="prioridade" class="form-check-input" id="exampleCheck1" /><br />
        <br />
        <label class="titulo_item">  Prioridade: </label>
        <br />
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onclick="alterarVisibilidade('divObs')"> Alta
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"> Média
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"> Baixa
        </div>
    </div>
    <div class="form-check" id="divObs" style="display:none">
        <label> Observação: </label>
        <input class="form-check-input" type="text" name="flexRadioDefault" id="flexRadioDefault2" maxlength="500">
    </div>
    <br />
    <br />

    <button type="submit" class="btn btn-primary"> Registrar </button>
</form>
</div>
<!--
@section Scripts {
    <script>
        function alterarVisibilidade(id) {
        var display = document.getElementById(id).style.display;
        if (display == "none")
        document.getElementById(id).style.display = 'block';
        else
        document.getElementById(id).style.display = 'none';
        }
    </script>
}
    -->