@Model ProjetoBudget.Models.itensOrcamentarios
@{
    ViewBag.Title = "Listagem de itens";
}

<br />
<h2 class="titulo_orc1"> Listagem de itens do orçamento </h2>
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col" style="color:white;"> Nome Item </th>
            <th scope="col" style="color:white;"> Prioridade </th>
            <th scope="col" style="color:white;"> Observação </th>
            <th scope="col" style="color:white;"> Quantidade </th>
            <th scope="col" style="color:white;"> Valor aplicado </th>
            <th scope="col" style="color:white;">   </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrcaItem)
        {
            <tr>
                <td style="color:white;">@item.itensOrcamentarios.descricaoItem</td>

                @if (item.prioridade == "A")
                {
                    <td style="color:white;">Alta</td>
                }
                else if (item.prioridade == "M")
                {
                    <td style="color:white;"> Média </td>
                }
                else
                {
                    <td style="color:white;"> Baixa </td>
                }
                <td style="color:white;">@item.observacao</td>
                <td style="color:white;">@item.quantItem</td>
                <td style="color:white;"> @item.total  </td>
                <td> </td>
                <td>
                    <a href="/OrcaItem/alterOrcaItem?idOrcamento=@item.idorcamento&idItemOrc=@item.itensOrcamentarios.idItemOrcamentario" role="button" class="btn btn-primary"> Alterar </a>
                    <a href="" role="button" class="btn btn-danger"> Remover </a>
                </td>

            </tr>

         }
        </tbody>
</table>
<br />
<a href="/itemOrcamentario/ListaItens?orcI=@Model.OrcaItem" role="button" class="btn btn-primary"> Lista Itens </a>
<a href="/OrcaItem/EndOrcamento" class="btn btn-success"> Finalizar orcamento </a>

