@Model ProjetoBudget.Models.itensOrcamentarios
@{
    ViewBag.Title = "Listagem de itens";
}

<br />
<h2 class="titulo_orc1"> Listagem: itens do orçamento </h2>
<br />
<br />
<table class="table">
    <thead>
        <tr class="list">
            <th scope="col"> Nome Item: </th>
            <th scope="col"> Prioridade: </th>
            <th scope="col"> Observação: </th>
            <th scope="col"> Quantidade: </th>
            <th scope="col"> Valor aplicado:  </th>
            <th scope="col">  </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrcaItem)
        {
            <tr>
                <td>@item.itensOrcamentarios.descricaoItem</td>

                @if (item.prioridade == "A")
                {
                    <td>Alta</td>
                }
                else if (item.prioridade == "M")
                {
                    <td> Média </td>
                }
                else
                {
                    <td> Baixa </td>
                }
                <td>@item.observacao</td>
                <td>@item.quantItem</td>
                <td> @item.total  </td>
                <td> </td>
                <td>
                    <a href="/OrcaItem/alterOrcaItem?idOrcamento=@item.idorcamento?idItemOrc=@item.itensOrcamentarios.idItemOrcamentario" role="button" class="btn btn-primary"> Modificar Prioridade </a>
                    <a href="" role="button" class="btn btn-danger"> Remover </a>
                </td>

            </tr>
         }
        </tbody>
</table>
<input id="total" name="total" disabled="" value="..."/> 
<br />
<a href="/itemOrcamentario/ListaItens" role="button" class="btn btn-primary"> Lista Itens </a>

@section Scripts{
    <script>
      
    </script>
}
