@Model ProjetoBudget.Models.TipoItem

@{
    ViewBag.Title = "Item Orçamentario";
}
<div class="text-center">
    <h1 class="tituloPcad">Cadastro</h1>
    <hr />
    <br />
    <br />
    <form name="CadastroItemOrcamentario" action="/ItemOrcamentario/Cadastro" method="post">
        <label class="titulo_cad"> Descrição do Item:  </label>
        <br />
        <input type="text" name="DescricaoItem" class="form-check-input" id="exampleCheck1" /><br />
        <br />

        <div>
            <label for="exampleInputEmail1" class="titulo_cad"> Tipo de Gasto: </label>
            <br />
            <input class="form-check-input" type="radio" name="tipoGasto" id="flexRadioDefault1" value="C" onclick="alterarVisibilidade('vlrUni','Custo')"> Custo
            |
            <input class="form-check-input" type="radio" name="tipoGasto" id="flexRadioDefault1" value="D" onclick="alterarVisibilidade('vlrUni','Despesa')"> Despesa
            |
            <input class="form-check-input" type="radio" name="tipoGasto" id="flexRadioDefault1" value="I" onclick="alterarVisibilidade('vlrUni','Investimento')"> Investimento
        </div>


        <br />
        <br />
        <label for="exampleInputEmail1" class="titulo_cad"> Categoria item: </label>
        <br />

        <select name="TipoItem" class="categ_item">
            <option>
            </option>
            @foreach (var item in Model)
            {
                <option value="@item.idTipoItem">
                    @item.nomeTipoItem
                </option>
            }

        </select>

        <br />

        <div id="vlrUni" style="display:none">
            <label> Valor Unitario: </label>
            <input type="text" name="valorUnitario" class="form-check-input" id="exampleCheck1" />
        </div>
        <br />
        <br />


        <button type="submit" class="btn btn-block  btn-ligth"> Registrar </button>
        <a href="/ItemOrcamentario/ListaItens" role="button" class="btn btn-block btn-ligth"> Voltar </a>
    </form>
</div>

@section Scripts{
    <script>
        function alterarVisibilidade(id, campoClick) {
            var display = document.getElementById(id).style.display;
            if (campoClick == "Investimento") {
                document.getElementById(id).style.display = 'block';
            } else if (campoClick == "Custo") {
                document.getElementById(id).style.display = 'none';
            } else { document.getElementById(id).style.display = 'none'; }
        }
    </script>
   
}
