@Model ProjetoBudget.Models.TipoItem

@{
    ViewBag.Title = "Item Orçamentario";
}

<form name="CadastroItemOrcamentario" action="/ItemOrcamentario/Cadastro" method="post">
    <label> Descrição do Item:  </label>
    <input type="text" name="DescricaoItem" class="form-check-input" id="exampleCheck1" /><br />


    <label for="exampleInputEmail1"> Tipo de Gasto: </label>
    <select name="tipoGasto">
        <option>
        </option>
        <option value="Custo" onclick="mudarEstado('vlrUni',)">
            Custo
        </option>
        <option value="Despesa">
            Despesa
        </option>
        <option value="Investimento">
            Investimento
        </option>
    </select>

    <label for="exampleInputEmail1"> Categoria item: </label>
    <select name="TipoItem">
        @foreach (var item in Model)
        {
            <option>
            </option>
            <option value="@item.idTipoItem">
                @item.nomeTipoItem
            </option>
        }
    </select>

    <br />

    <div id="vlrUni" style="display:none">
        <label> Valor Unitario: </label>
        <input type="text" name="valorUnitario" class="form-check-input" id="exampleCheck1" />
    </div>

    <button type="submit" class="btn btn-primary"> Registrar </button>

</form>
@section Scripts {
    <script>
        function mudarEstado(id) 
        {
           var display = document.getElementById(id).style.display;
           if (display == "none")
             document.getElementById(id).style.display = 'block';
           else
             document.getElementById(id).style.display = 'none';
        }
    </script>
}