@Model ProjetoBudget.Models.TipoItem

@{
    ViewBag.Title = "Item Orçamentario";
}
<div class="text-center">
<h1 class="tituloPcad">Cadastro</h1>
    <br />
    <br />
<form name="CadastroItemOrcamentario" action="/ItensOrcamentarios/Cadastro" method="post">
    <label class="titulo_cad"> Descrição do Item:  </label>
    <br />
    <input type="text" name="DescricaoItem" class="form-check-input" id="exampleCheck1" /><br />
    <br />

    <label for="exampleInputEmail1" class="titulo_cad"> Tipo de Gasto: </label>
    <br />
    <select name="tipoGasto" class="tipo_gasto" >
        <option>
        </option>
        <option value="Custo">
            Custo
        </option>
        <option value="Despesa" >
            Despesa
        </option>
        <option value="Investimento" >
            Investimento
        </option>
    </select>
    <br />
    <br />
    <label for="exampleInputEmail1" class="titulo_cad"> Categoria item: </label>
    <br />
    
    <select name="TipoItem" class="categ_item">
       @foreach (var item in Model)
        {
           <option>
           </option>
           <option value="@item.idTipoItem">
               @item.nomeTipoItem
           </option>
        }
    </select>

    <br />

    <div id="vlrUni" style="display:none">
        <label> Valor Unitario: </label>
        <input type="text" name="valorUnitario" class="form-check-input" id="exampleCheck1" />
    </div>
    <br />
    <br />


    <button type="submit" class="btn btn-primary"> Registrar </button>

</form>
</div>

<script>
    function mudarEstado(id, idNat) {
        if (idNat == 1) 
            var display = document.getElementById(id).style.display;
            if (display == "none")
                document.getElementById(id).style.display = 'block';
            else
                document.getElementById(id).style.display = 'none';
    }
</script>
