@Model ProjetoBudget.Models.itensOrcamentarios

@{
    ViewBag.Title = "Editar Item orcamentario";
}
<div class="text-center">
    <h1 class="tituloPcad">Editar o item @Model.descricaoItem</h1>
    <hr />
    <br />
    <br />
    <form name="CadastroItemOrcamentario" action="/ItemOrcamentario/Editar?idTipoItem=@Model.idTipoItem&idI=@Model.idItemOrcamentario" method="post">
        <label class="titulo_cad"> Descrição do Item: </label>
        <br />
        <input type="text" name="DescricaoItem" class="form-check-input" id="exampleCheck1" value="@Model.descricaoItem" /><br />
        <br />

        <div>
            <label for="exampleInputEmail1" class="titulo_cad"> Tipo de Gasto: </label>
            <br />
            <input class="form-check-input" type="radio" name="tipoGasto" id="flexRadioDefault1" value="C" onclick="alterarVisibilidade('vlrUni','Custo')"> Custo
            |
            <input class="form-check-input" type="radio" name="tipoGasto" id="flexRadioDefault1" value="D" onclick="alterarVisibilidade('vlrUni','Despesa')"> Despesa
            |
            <input class="form-check-input" type="radio" name="tipoGasto" id="flexRadioDefault1" value="I" onclick="alterarVisibilidade('vlrUni','Investimento')"> Investimento
        </div>
        <br />
        <br />
        <br />
        <div id="vlrUni" style="display:none">
            <label> Valor Unitario: </label>
            <input type="text" name="valorUnitario" class="form-check-input" id="exampleCheck1" value="@Model.valorUnitario" />
        </div>
        <br />
        <br />


        <button type="submit" class="btn btn-block  btn-ligth"> Registrar </button>
    </form>
</div>

@section Scripts{
    <script>
function alterarVisibilidade(id, campoClick) {
            var display = document.getElementById(id).style.display;
            if (campoClick == "Investimento") {
                document.getElementById(id).style.display = 'block';
            } else if (campoClick == "Custo") {
                document.getElementById(id).style.display = 'none';
            } else { document.getElementById(id).style.display = 'none'; }
}
    </script>

}
