@Model ProjetoBudget.Models.itensOrcamentarios
@{
    ViewBag.Title = "Listagem Orçamentos";
}
<h2 class="tituloPcad" style="color:white;"> Itens Orçamentarios cadastrados: </h2>
<br />
<table class="table">
    <thead>
        <tr class="tablecad">
            <th scope="col"> Descrição item</th>
            <th scope="col"> Tipo Gasto  </th>
            <th scope="col"> Tipo Item:  </th>
            <th scope="col"> Valor Unitario: </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td style="color:#D2D2D2">@item.descricaoItem</td>
                    @switch (item.tipoGasto)
                    {
                        case "C":
                            <td style="color:#D2D2D2"> Custo </td>
                            break;
                        case "I":
                            <td style="color:#D2D2D2"> Investimento </td>
                            break;
                        case "D":
                            <td style="color:#D2D2D2"> Despesa </td>
                            break;
                    }
                <td style="color:#D2D2D2">@item.TipoItem.nomeTipoItem</td>
                <td style="color:#D2D2D2">@item.valorUnitario</td>
                <td> <a href="/OrcaItem/alterPrioridade?idI=@item.idItemOrcamentario" class="btn btn-success"> Adicionar ao orçamento </a> </td>
                <td> <a class="btn btn-warning"> Editar </a> </td>
                <td> <a class="btn btn-danger"> Excluir </a>
            </tr>  
            }
        }
           
        </tbody>
</table>
<a href="/ItemOrcamentario/Cadastro" role="button" class="btn btn-primary"> Cadastrar </a>
<a href="/Orcamento/ListaGS" role="button" class="btn btn-primary"> Voltar </a>
<br />
<br />
